<template>
	<template if:true={state.showRelatedList}>
		
		<c-scb-related-list-new-edit-popup onrefreshdata={handleRefreshData}>
		</c-scb-related-list-new-edit-popup>

		<c-scb-related-list-delete-popup onrefreshdata={handleRefreshData}>
		</c-scb-related-list-delete-popup>

		<lightning-layout>
			<article class="slds-card lightning-card">
			<template if:true={showTableHeader}>
				<div class="slds-card__header slds-grid slds-theme_shade">
					<header class="slds-media slds-media_center slds-has-flexi-truncate section-header-display">
						<div class="slds-media__figure">
							<lightning-icon icon-name={state.iconName} size="small">
							</lightning-icon>
						</div>
						<div class="slds-media__body">
							<h2 class="slds-card__header-title">
								<a class="slds-card__header-link">{state.title}</a>
							</h2>
						</div>
						<div class="slds-no-flex" if:true={showNew}>
                            <template if:false={isClientReview}>
                                <lightning-button class="button-display" label="New"
                                        onclick={handleCreateRecord}>
                                </lightning-button>
                            </template>
                            <template if:true={isClientReview}>
                                <lightning-button class="button-display" label="New"
                                        onclick={createClientReview}>
                                </lightning-button>
                            </template>
					    </div>
					</header>
				</div>
			</template>
				<template if:true={hasRecords}>
					<div style="height: 165px;">
						<c-scb-datatable
							class="related-list"
							columns={state.columns}
							data={state.records}
							key-field="Id"
							hide-checkbox-column="true"
							resize-column-disabled="true"
							enable-infinite-loading={isNotDone}
							onloadmore={loadMoreData}
							onrowaction={handleRowAction}></c-scb-datatable>
					</div>
				</template>
			</article>
		</lightning-layout>
	</template>

    <template if:true={isCreateClientReview}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div class="slds-modal__container related-list">

                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" title="Close" onclick={closeModalClientReview}>
                        <lightning-icon icon-name="utility:close"
                            alternative-text="close"
                            variant="inverse"
                            size="small" ></lightning-icon>
                    </button>
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{label.labelNewClientReview}</h2>
                </header>

                <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                    <c-scb-client-review-note></c-scb-client-review-note>
                </div>

                <footer class="slds-modal__footer">
                    <lightning-button-group>
                        <lightning-button label='Cancel' variant="neutral" onclick={closeModalClientReview}></lightning-button>
                        <lightning-button label="Proceed" variant="brand" onclick={handleCreateRecord}></lightning-button>
                    </lightning-button-group>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>