<template>
    <div class={containerClass}>
        <lightning-layout vertical-align="center" horizontal-align="spread" class="x-large">

            <lightning-layout-item flexibility="no-flex" padding="around-small">
                <div class="header-column">
                    <div class="column-item icon" >
                        <lightning-icon icon-name="standard:client" size="medium"></lightning-icon>
                    </div>
                    <div class="column-item" >
                        <p class="field-title">Relationship No.</p>
                        <p>{account.Relationship_No__c}</p>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="no-flex" padding="around-small">
                <div class="header-column">
                    <div class="column-item icon" >
                        <lightning-icon icon-name="standard:thanks" size="medium"></lightning-icon>
                    </div>
                    <div class="column-item" >
                        <p class="field-title">Age</p>
                        <p>{account.FinServ__Age__pc}</p>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="no-flex" padding="around-small">
                <div class="header-column">
                    <div class="column-item icon" >
                        <lightning-icon icon-name="custom:custom110" size="medium"></lightning-icon>
                    </div>
                    <div class="column-item" >
                        <p class="field-title">Mobile</p>
                        <p><lightning-formatted-phone value={account.PersonMobilePhone} ></lightning-formatted-phone></p>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="no-flex" padding="around-small">
                <div class="header-column">
                    <div class="column-item icon" >
                        <lightning-icon icon-name="custom:custom43" size="medium"></lightning-icon>
                    </div>
                    <div class="column-item" >
                        <p class="field-title">Segment</p>
                        <p>{account.Segment__c}</p>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="no-flex" padding="around-small">
                <div class="header-column">
                    <div class="column-item icon" >
                        <lightning-icon icon-name="custom:custom73" size="medium"></lightning-icon>
                    </div>
                    <div class="column-item" >
                        <p class="field-title">Qualification EoM</p>
                        <p>{account.Qualification_EoM__c}</p>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="no-flex" padding="around-small">
                <div class="header-column">
                    <div class="column-item icon" >
                        <lightning-icon icon-name="custom:custom87" size="medium"></lightning-icon>
                    </div>
                    <div class="column-item" >
                        <p class="field-title">WM Purchase</p>
                        <p>{account.WM_Purchase__c}</p>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="no-flex" padding="around-small">
                <div class="header-column">
                    <div class="column-item icon" >
                        <lightning-icon icon-name="custom:custom112" size="medium"></lightning-icon>
                    </div>
                    <div class="column-item" >
                        <p class="field-title">Last Interaction</p>
                        <p><lightning-formatted-date-time value={account.FinServ__LastInteraction__c}></lightning-formatted-date-time></p>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="no-flex" padding="around-small">
                <div class="header-column">
                    <div class="column-item icon" >
                        <lightning-icon icon-name="custom:custom17" size="medium"></lightning-icon>
                    </div>
                    <div class="column-item" >
                        <p class="field-title">AUM</p>
                        <p><lightning-formatted-number value={account.Total_AUM__c} maximum-fraction-digits="2"></lightning-formatted-number></p>
                    </div>
                </div>
            </lightning-layout-item>
            <lightning-layout-item flexibility="no-flex" padding="around-small">
                <div class="header-column">
                    <div class="column-item icon" >
                        <lightning-icon icon-name="standard:user" size="medium"></lightning-icon>
                    </div>
                    <div class="column-item" >
                        <p class="field-title">Relationship Manager</p>
                        <p><a onclick={viewOwner}>{account.Owner.Name}</a></p>
                    </div>
                </div>
            </lightning-layout-item>
        </lightning-layout>
    </div>
</template>
