<template>
    <div class="slds-tabs_card">
        <lightning-tabset class="tabset-font">
            <lightning-tab label='{label.labelTab}'>
                <c-scb-related-client-review record-id={recordId}></c-scb-related-client-review>
                <br/>
                <!-- Account Plan Section -->
                <c-scb-related-account-plan record-id={recordId}></c-scb-related-account-plan>
            </lightning-tab>
        </lightning-tabset>
    </div>
</template>