<template>
    <div class="slds-tabs_card">
        <lightning-tabset class="tabset-font">
            <lightning-tab label='{label.labelAumMix}'>
            <div>
                <canvas class="donut" lwc:dom="manual"></canvas>
            </div>
            </lightning-tab>
        </lightning-tabset>
    </div>
</template>